#footer h1 {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 11%,
		rgba(195, 211, 235, 1) 32%,
		rgba(93, 142, 219, 1) 57%,
		rgba(216, 232, 254, 1) 88%,
		rgba(219, 219, 219, 1) 100%
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#footer .sponsors a:hover img {
	@apply transition-all duration-200 -translate-y-1;
}

#footer .sponsors a {
	@apply p-1.5 rounded-md block w-44 h-10 relative;
}
